/* src/index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #f3f7f7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 24px;
}
